.badge {
  margin-left: 8px;
  border: 1.5px solid;
  padding: 2px 4px;
  border-radius: 5px;
}

.godot-version {
  margin-bottom: 14px;

  .name:hover {
    cursor: pointer;
    text-decoration: solid underline #fff;
  }
}